/* Unordered lists: turn into bullets  */
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-list-ul {
	visibility: hidden !important;
}
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-list-ul:after {
	content: '• ';
	margin-left: -12px;
	color: var(--text-normal);
	visibility: visible !important;
}
