/* Editor mode */
/* .cm-formatting-highlight {
    display:none
} */

.cm-formatting-highlight + .cm-highlight {
  border-bottom:medium solid #ffae00;
    
}

.cm-highlight {
    background-color: transparent !important;
}

/* preview mode */

mark {
   border-bottom:medium solid #ffae00; 
   background-color: transparent !important;
}