/* h1, h2, h3, h4, h5, h6 {
    margin-top: 35px;
}

h2 {
    margin-top: 35px;
}

.markdown-preview-view h2 {
    margin-top: 35px;
} */

.markdown-preview-view h2, h2, .markdown-preview-view h3, h3, .markdown-preview-view h4, h4, .markdown-preview-view h5, h5, .markdown-preview-view h6, h6 {
    margin-top: 35px;
}